/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


$font-size:14px;
$line-height:20px;
$h1:$font-size + 10px;
$h2:$font-size + 5px;
$h3:$font-size + 1px;
$h4:$font-size;
$h5:$font-size - 1px;
$h6:$font-size - 5px;

@include font-face(Roboto-Regular, "fonts/roboto-regular");
@include font-face(Modernpics, "fonts/modernpics-webfont");

html{
	overflow-y:auto;
	overflow-x:hidden;
	height:100%;
}

h1{ 
	font-size: $h1;
	line-height: $line-height + 10px;
	margin-top:5px; margin-bottom:5px;
}

h2{
	font-size: $h2;
	line-height: $line-height + 5px;
	margin-top:3px; margin-bottom:3px;
}

h3{
	font-size: $h3;
	line-height: $line-height + 1px;
	margin-top:1px; 
	margin-bottom:1px;
}

h4{
	font-size: $h4;
	line-height: $line-height;
}

h5{
	font-size: $h5;
	line-height: $line-height - 1px;
}

h6{
	font-size: $h6;
	line-height: $line-height - 5px;
}

.bold{ font-weight:bold; }

html,body{
	background:#f1f1f1;
	width:100%;
	height:100%;
	color:#222;
	font-family: Roboto-Regular, sans-serif;
	font-size: $font-size;
}

.modernpics{
	&:after{
		font-size:25px;
		float:left;
		position:relative;
		left:7px;
		font-family: Modernpics, Arial, Times New Roman;
		content:attr(data-icon);
	}
}

img{
	height:auto;
	width:100%;
}

a{
	text-decoration:none;
}

.grid > img{
	width:100%;
	height:auto;
}

button, input[type="submit"]{
	padding:5px 10px;
	font-size:15px;
	color:#555;
}

b,strong,.bold,.strong{
	font-weight:bold;
}


.center{
	text-align:center;
}

.margin_5{ margin-top:5px; margin-bottom:5px; }
.margin_10{ margin-top:10px; margin-bottom:10px; }
.margin_15{ margin-top:15px; margin-bottom:15px; }
.margin_20{ margin-top:20px; margin-bottom:20px; }